.container{
    height: 10rem;
    width: 70%;
    
    border-bottom: 1px solid gray;
    padding: 15px;
    margin-left: 20rem;
}

.container div{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.container .btn button{
 
    background-color: rgb(247, 239, 239);
    color: red;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid red;
 }

.container form .input-cont{
    display: flex;
    
    
 }

 .container form label{
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    
    
}

 .container form input{
     margin-right: 20px;
     width: 15rem;
     
     
 }

 .container form button{
    background-color:rgb(242, 21, 21);
    margin-top: 20px;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid red;
 }