.container{
    width: 100%;
    height: 100vh;
    display: flex;
 
    
    justify-content: center;
    align-content: center;

}

.innercontainer{
    width: 45rem;
    height: 23rem;
 
    
        box-shadow: 0px 0px 5px 5px  gray;
    display: flex;
    margin-top: 7rem;
   
    justify-content: space-between;
    align-content: center;
    border: 1px solid gray;
    /* padding: 1px; */
    border-radius: 10px;
    
}

.innercontainer .img{
    
    width: 22.5rem;
    height: 23rem;
 
   
}

.innercontainer .img img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 20rem;
    height: 100%;
  
   
}

.container .form{
    width: 22.5rem;
    margin-top: -2px;
    height: 20.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 21.5px;
    background-color: black;
    border: 1px solid gray;
}

.container .form form{
  
    height: 100%;
    border-radius: 10px;
}
.form h2{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 50;
    color: white;
    margin-bottom: 1.5rem;
}

   .form input{
   padding-left: 5px;
   width: 100%;
   height: 2rem;
   margin-bottom: 10px;
   outline: none;
   background-color: white;
   color: black;
   border: 1px solid gray;
   border-radius: 20px;

}

.link{
    text-align: center;
}

.link a{
    color: white;
}




.form button{
    width: 100%;
    height: 2rem;
    border-radius: 10rem;
    
    border:none;
    font-size: medium;
    
    margin-top: 1rem;
    
    
}

.error{
    
    margin-bottom: 10px;
    text-align: center;
    
    color: red;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}



/* .have-account button{
    height: 2.5rem;
    width: 100%;
    border: 1px solid gray;
    margin-top: 10px;
    text-align: center;
    color: black;
    border-radius: 5px;
    background-color: rgb(210, 237, 247);
} */

