.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.welcome{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.action {
    
    height: 1rem;
    background-color: rgb(249, 163, 163);
    border-radius: 10px;
    padding: 5px;
}

.action span{
     color: rgb(3, 3, 145);
     border-bottom: 1px solid rgb(4, 4, 151);
}


.action button{
    background-color: transparent;
    border: none;
    color: black;
}